# <span><center><div style="font-family: Trebuchet MS; background-color: #C32f0d; color: #eeeee4; padding: 12px; line-height: 1;">British Airway Reviews Text Cleansing</div></center></span>

In [1]:
import pandas as pd
import re

# <span><center><div style="font-family: Trebuchet MS; background-color: #C32f0d; color: #eeeee4; padding: 12px; line-height: 1;">Load Dataset</div></center></span>

In [2]:
dataset_path = '../dataset/british_airways_review.csv'

ba_reviews = pd.read_csv(dataset_path)

In [3]:
# See overview
print(ba_reviews.shape)
ba_reviews.head()

(3400, 1)

                                             reviews
0  ✅ Trip Verified |  The incoming and outgoing f...
1  ✅ Trip Verified |  Back in December my family ...
2  ✅ Trip Verified |  As usual the flight is dela...
3  ✅ Trip Verified | A short BA euro trip and thi...
4  Not Verified |  We are flying Business class f...

In [4]:
# See sample of full text
print(ba_reviews['reviews'][0])
print(ba_reviews['reviews'][100])
print(ba_reviews['reviews'][3399])

✅ Trip Verified |  The incoming and outgoing flight was delayed because French Air Traffic Controllers were on strike so we were routed over Germany, and not BA's fault. O arrival the pilot announced we could not pull onto the stand as no ground crew had showed up to turn on the automatic last metre guidance. It took around 40 minutes to find someone. Then when that was done there was a further delay as there were no ground staff to operate the skybridge. All told we were trapped on the plane for over an hour within metres of our gate. Total disruption, wasted time. Absolutely no excuse for this.
Not Verified |  I would like to thank all the air and cabin crew for having the best experience with a very long journey! I don’t know how you manage to keep smiling. Couldn’t fault anything. Helpful, reassuring, excellent food and I can’t wait to fly again. Thank you and I really appreciated you.
LHR-LAX-LHR. This route is the new A380 which I was very much looking forward to travelling on it certainly did not disappoint. I paid £20 extra to reserve seats in the upper deck at the very back this area is only 4 rows separated by galley and toilets and really does feel like its own private cabin. Plus the seating on the upper deck in a 2-4-2 layout means sitting by the window not only feels more spacious as you only have 1 person next to you but due to the shape of the A380 you get huge amounts of shoulder room and access to little storage lockers below the window. Flew Virgin UC on my last trip to LA in a tired and dated aircraft and BA economy was welcome. Can not recommend BA enough.

# <span><center><div style="font-family: Trebuchet MS; background-color: #C32f0d; color: #eeeee4; padding: 12px; line-height: 1;">Cleansing</div></center></span>

In [42]:
# Define functions for cleansing

def remove_verified_status(text):
    patterns = ['.*✅ Trip Verified \|  ', 'Not Verified \|  ']
    for pattern in patterns:
        text = re.sub(pattern, '', text)
    return text

In [43]:
ba_reviews['reviews'] = ba_reviews['reviews'].apply(remove_verified_status)

In [44]:
ba_reviews['reviews'][3]

'A short BA euro trip and this is where BA excel. Clean aircraft, good crew, professional, on time (within LHR standards) and a good value product delivered. Pity the in flight food sales were not a bit more exciting and appealing as more than a few asked about the non existent hot food options. But good overall. Check in self service is great now once you know how to use it with plenty assistance on hand for those who can’t.'

In [48]:
# Check after cleansing
ba_reviews.head()

                                             reviews
0  The incoming and outgoing flight was delayed b...
1  Back in December my family and I as we were ge...
2  As usual the flight is delayed this week, it a...
3  A short BA euro trip and this is where BA exce...
4  We are flying Business class for most of our f...